Repository pdehlke/dotfiles: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install-script, docker-test

install-script:
  stage: test
  image: ubuntu:22.04
  inherit:
    variables: true
  interruptible: true
  variables:
    LANGUAGE: en_US.UTF-8
    LANG: en_US.UTF-8
  before_script:
  - apt-get update -qq
  - 'apt-get install -qqy locales lsb-release software-properties-common
  
    '
  ...

docker-test:
  stage: test
  image: docker:latest
  services:
  - docker:dind
  interruptible: true
  artifacts:
    expire_in: 1 hour
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: /certs
  before_script:
  ...

feat(docker): improvements in Dockerfile
  .dockerignore
  Dockerfile
Due: docker-test

fix(git): gitstatusd file permissions
  root/private_dot_config/mr/groups.d/00-personal.tmpl
Due: install-script

chore(desktop): update kitty sample config
  root/private_dot_config/kitty/kitty.conf.orig.tmpl
Due: install-script

feat(docker): improvements in compose settings
  compose.yaml
Due: none

feat(zsh): additional directories to zsh modules
  root/.chezmoiignore
  root/dot_zprezto-contrib/.keep
  root/dot_zpreztorc.tmpl
Due: install-script

style(chezmoi): external list
  root/private_dot_backup/private_chezmoi/gitHubLatestRelease.yaml.tmpl
Due: install-script

fix(git): gitstatusd post_make action
  root/private_dot_config/mr/groups.d/00-personal.tmpl
Due: install-script

chore(docker): legacy ENV structure warning
  Dockerfile
Due: docker-test

feat(git): keep `bin/fzf` file
  root/private_dot_config/mr/groups.d/04-cli.tmpl
Due: install-script

fix(docker): rename cache
  Dockerfile
Due: docker-test

chore: enable trailing whitespaces in p10k files
  .editorconfig
Due: none

test(ci): use multiple ubuntu lts versions
  .github/workflows/ci.yaml
  .gitlab-ci.yml
Due: install-script

feat: new `gitHubLatestReleaseAssetURL` function
  .chezmoiversion
  root/dot_local/share/fonts/.chezmoiexternal.yaml
  root/private_dot_backup/private_chezmoi/gitHubLatestRelease.yaml.tmpl
Due: install-script

feat: repeat `chsh` when SO upgrades
  root/.chezmoiscripts/run_onchange_after_post_install_yadr.sh.tmpl
Due: install-script

Update install.sh
  root/bin/yadr/install.sh
Due: install-script

Update run_onchange_after_post_install_yadr.sh.tmpl
  root/.chezmoiscripts/run_onchange_after_post_install_yadr.sh.tmpl
Due: install-script

Update README.md
  README.md
Due: none

feat(git): useful aliases
  root/aliases.sh
  root/dot_gitconfig.tmpl
Due: install-script

fix: YADR post install script
  root/.chezmoiscripts/run_onchange_after_post_install_yadr.sh.tmpl
Due: install-script

perf(chezmoi): ignore fontconfig `.uuid` files
  root/.chezmoiignore
Due: install-script

test(ci): same tests on github and gitlab
  .github/workflows/ci.yaml
  .gitlab-ci.yml
Due: install-script

chore(cli): update asdf-vm
  root/.chezmoiscripts/run_onchange_after_install_asdf-vm.sh.tmpl
  root/.chezmoiscripts/run_onchange_after_plugins_asdf-vm.sh.tmpl
  root/aliases.sh
  root/dot_local/bin/.chezmoiexternal.yaml
  root/dot_local/share/zsh/site-functions/modify__asdf
  root/private_dot_config/mr/groups.d/04-cli.tmpl
Due: install-script

chore(desktop): kitty extra config
  root/private_dot_backup/look_and_feel/kitty/.chezmoiexternal.yaml
  root/private_dot_backup/look_and_feel/kitty/diff/.chezmoiexternal.yaml
Due: install-script

chore: remove unused file
  root/.chezmoidata.yaml
Due: install-script

fix(cli): android error
  root/.chezmoiscripts/run_onchange_after_install_fzf.sh.tmpl
  root/.chezmoiscripts/run_onchange_after_plugins_asdf-vm.sh.tmpl
  root/.chezmoiscripts/run_onchange_after_post_install_yadr.sh.tmpl
  root/.chezmoiscripts/run_onchange_before_pre_migrate_yadr.sh.tmpl
  root/bin/fasd
Due: install-script

chore(desktop): update kitty default config
  root/private_dot_config/kitty/kitty.conf.orig.tmpl
Due: install-script

Path conditions:
  install-script: any of: .chezmoiroot, .chezmoiversion, .gitlab-ci.yml, install.sh, root/**/*
  docker-test: any of: .dockerignore, Dockerfile, docker-compose.yml, install.sh
